
#menu {
    background-color: #48C7F6;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#menu .nav-item-logo{
    margin-right: auto;
}
#menu .nav-item{
    justify-self: normal;
}

.nav-item .nav-link {
    color: white; 
  }

.container {
    padding-top: 20px;
  }

.card{
    margin-top: 10px ;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.1);
}



#nav_pill {
    margin-top: 10px;
}

.cursos {
    text-align: justify;
}

.cursos img {
    margin-right: 20px;
    float: left;
}

#imagenesTestimonios {
    height: 100%;
}

.row {
    display: flex;
    margin-top: 100px;
    border-radius: 10px;
    background-color: #F4F5F6;
}

#catalogoCursos img {
    width: 100%;
    height: auto;
    opacity: 0.2;
}

.row .btn {
    margin-right: auto;
}

#catalogoTarjetas {
    display: flex;

    justify-content: space-between;
}

#tarjetas {
    position: relative;
    width: 95%;
    height: 95%;
}

#tarjetas #boton {
    position: absolute;
    bottom: 10px;
    right: 10px;
} 

#blogContenido {
    background-color: #F4F5F6;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    height: 100px;
}

form {
    position: relative;
}

form #enviar {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

#datosContacto {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    justify-content: center;
}